<h1>Баня с бруска лунный паз</h1>
<h3>Комплектация:</h3>
<ul>
  <li>Печь-каменка с внутренней топкой</li>
  <li>Полки и трапы из ольхи</li>
  <li>Бак для воды на 55 л.</li>
  <li>Освещение во всех помещениях</li>
  <li>Окно в парной и предбаннике</li>
  <li>Пожарно-проходной узел</li>
  <li>Защита от нагрева из минерита</li>
  <li>Кровля из гибкой черепицы</li>
  <li>Входная деревянная дверь</li>
  <li>Стеклянная дверь в парной</li>
  <li>Стальные нержавеющие обручи с узлом подтяжки</li>
</ul>

<h3>Дополнительная комплектация (доп.оплата):</h3>
<ul>
  <li>Дополнительное окно в парной или предбаннике</li>
  <li>Вынос топки наружу</li>
  <li>Спинки над полками</li>
</ul>

<app-photo-album [images]="images"></app-photo-album>
