<h1>Преимущества бани-бочки</h1>
<h2>Корпус бани?</h2>
<p>
Корпус, т.е. сама бочка изготавливается из елового бруса влажностью не более 10%. Бондарный (лунный) паз бруса позволяет изготавливать круглый профиль и обеспечивает плотное соединение без щелей
Техническая сушка ели до 8-10% обеспечивает устойчивость древесины к внешним воздействиям и существенно снижает возможность растрескивания бруса при перепадах температуры.
</p>

<h2>Полок? Трапы? Лавочки?</h2>
<p>
Полки, трапы, лавки изготавливаются из массива лиственных пород древесины, ольхи, осины или липы.
Лиственные породы обладают низкой теплопроводностью, остаются приемлемой температуры даже при самом высокой температуре в бане.
Все контактирующие с телом элементы тщательно отшлифованы, фаски сняты, древесина лавочки и полка становятся гладкими, безопасными и приятными на ощупь.
</p>

<h2>Какая печь?</h2>
<p>
По умолчанию мы устанавливаем дровяную печь-каменку, которая позволяет за 40-50 минут нагреть баню до готовности. По вашему желанию мы можем изготовить баню-бочку с электрической печью.
Все печи оснащаются сеткой или емкостью для камней для поддачи пара.
Каркас бани защищается от нагрева печью листами минерита или фиброцементной плиты, а потолок пожаробезопасным дымоходом.
</p>

