<h1>Каталог услуг</h1>
<ol>
  <li>Летние домики</li>
  <li>Бани-бочки, бани каркасного типа</li>
  <li>Сауны для помещений</li>
  <li>Купели натуральные, композитные купели</li>
  <li>Навесы, беседки,террасы</li>
  <li>Садовые аксессуары</li>
  <li>Дополнительные услуги:</li>
  <ul style="margin-left: 1rem;">
    <small>
      <li>монтаж летних домиков, бань, беседок приобретенных у других производителей</li>
      <li>установка печей, дымоходов и всех остальных составляющих</li>
      <li>покраска изделий</li>
      <li>установка свайно-винтового фундамента</li>
      <li>обустройство детских площадок</li>
    </small>
  </ul>
  <li>Пиломатериалы любых размеров, услуги по распиловке леса, сушка, строжка пиломатериала</li>
</ol>

<h1>Гарантия и сервис</h1>
<p>гарантия 2 года и постгарантийное обслуживание</p>

<h1>Доставка продукции</h1>
<ol>
  <li>
    Изделия которые могут привозится к Вам на участок в готовом виде (бани–бочки, квадро-бочки, овало-бочки шириной до 3
    м, арочные домики)
    <small>Стоимость доставки с установкой краном-манипуляторм - от 3.65 BYN / км (расстояние считается в две
      стороны)</small>
  </li>
  <li>
    Изделия которые собираются на участке клиента (бани-бочки, квадро-бочки, овальные бани, все садовые домики)
    <small>Стоимость доставки от 1* BYN / км (расстояние считается в две стороны)</small>
  </li>
</ol>

<h1>Монтаж </h1>
<strong>Мы предлагаем монтаж изделия на фундамент из:</strong>
<ul>
  <li>многовитковых винтовых свай</li>
  <li>бетонных блоков</li>
</ul>

<h3>Фундамент из винтовых свай</h3>
<p>
  Наши специалисты произведут монтаж основания под изделие из многовитковых винтовых свай на Вашем участке за 1 час!

  Есть два варианта свай:

  Цена одной свайной опоры (1800ммх76мм) — 100р. + стоимость монтажа 45р.
  Удлинение на 1м (при необходимости) — 48р. (материал + работа)
  <br/>
  Монтаж производится зимой и летом, благодаря ниже указанной технологии!
</p>

<h4>Преимущество данного основания</h4>
<ul>
  <li>
    высокая скорость монтажа фундаментных конструкций;
  </li>
  <li>
    низкая трудоемкость работ;
  </li>
  <li>
    безударное погружение,следовательно, возможность проведения работ в непосредственной близости к существующим зданиям
    и подземным коммуникациям в условиях плотной городской застройки;
  </li>
  <li>
    возможность установки свай в труднодоступных местах при помощи легкого компактного оборудования;
  </li>
  <li>
    полное отсутствие земляных работ практически при любом рельефе местности;
  </li>
  <li>
    отсутствие мокрых процессов;
  </li>
  <li>
    возможность круглогодичного ведения строительно-монтажных работ;
  </li>
  <li>
    существенное снижение отрицательного влияния сил морозного пучения.
  </li>
</ul>


<h3>Фундамент из бетонных блоков</h3>
<p>Для основания под строительство небольших бань и домиков можно использовать бетонные блоки. Такой тип фундамента
  можно применять при условии, что будет выполнена подготовка грунта.
  <br/>
  Только выполнив предварительную подготовку грунта можно гарантировать, что блоки будут выполнять опорную функцию
  хорошо. Подготовка грунта заключается в снятии плодородного слоя земли, и замещение его на песчано-гравийную смесь с
  обязательным ее уплотнением.
  <br/>
  Наши специалисты могут выполнить укладку бетонных блоков, на предварительно подготовленную подушку из
  песчано-гравийной смеси.
  <br/>
  Готовые, перевозные изделия не являются капитальным строением и не требует разрешения и проекта, НО тем не мением
  имеют значительный вес. Подготовка основания требует профессионального подхода. Технология многовитковых винтовых свай
  отвечает всем необходимым требованиям для этих целей.
</p>
